<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>principal</display-name>
	<servlet>
		<servlet-name>Email</servlet-name>
		<servlet-class>br.com.liberdaderesidencial.Email</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Email</servlet-name>
		<url-pattern>/EmailServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/broken</location>
	</error-page>
</web-app>